<div class="container-fluid">
    <fieldset class="col-md-12">
        <legend>Dados do Cliente</legend>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group col-md-12">
                    <label for="customername">Nome Completo</label>
                    <input type="text" class="form-control" id="customername" placeholder="Nome Completo">
                </div>
                <div class="form-group col-md-12">
                    <label for="cardid">Cpf</label>
                    <input type="text" class="form-control" id="cardid" placeholder="Cpf">
                </div>

                <div class="col-sm-12">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="phonecode">DDD</label>
                            <input type="number" class="form-control" id="phonecode" placeholder="DDD">
                        </div>

                        <div class="form-group col-md-9">
                            <label for="phonenumber">Nº Telefone</label>
                            <input type="number" class="form-control" id="phonenumber" placeholder="Nº Telefone">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group col-md-12">
                    <label for="state">Estado</label>
                    <input type="text" class="form-control" id="state" placeholder="Estado">
                </div>

                <div class="form-group col-md-12">
                    <label for="city">Cidade</label>
                    <input type="text" class="form-control" id="city" placeholder="Cidade">
                </div>

                <div class="form-group col-md-12">
                    <label for="neighborhood">Bairro</label>
                    <input type="text" class="form-control" id="neighborhood" placeholder="Bairro">
                </div>

                <div class="form-group col-md-12">
                    <label for="street">Rua</label>
                    <input type="text" class="form-control" id="street" placeholder="Rua">
                </div>

                <div class="form-group col-md-12">
                    <label for="housenumber">Número</label>
                    <input type="text" class="form-control" id="housenumber" placeholder="Número">
                </div>

                <div class="form-group col-md-12">
                    <label for="moreinfo">Complemento</label>
                    <input type="text" class="form-control" id="moreinfo" placeholder="Complemento">
                </div>

                <div class="form-group col-md-12">
                    <label for="zipcode">CEP</label>
                    <input type="text" class="form-control" id="zipcode" placeholder="CEP">
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-sm" id="register-customer" style="float: right; margin-right: 15px;">Cadastrar</button>

    </fieldset>
    
</div>